.Toast{
    position:absolute;
    top:30%;
    right: 2.5%;
    transition: all 400ms;
    opacity:100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.Toast-isnt-show{
    opacity:0%;
}
.custom-class {
  min-width: 13rem; /* min-w-52 is 52 * 0.25rem */
  background-color: #ffffff; /* bg-white */
  border: 1px solid #dcdcdc; /* Assuming default border color (light gray) */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* shadow 2*1 */
  border-radius: 0.375rem; /* rounded-md is 6px */
  position: relative; /* To position the ::after pseudo-element */
}
.custom-class2{
  min-width: 13rem; /* min-w-52 is 52 * 0.25rem */
  background-color: #ffffff; /* bg-white */
  border: 1px solid #dcdcdc; /* Assuming default border color (light gray) */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* shadow 2*1 */
  border-radius: 0.375rem; /* rounded-md is 6px */
  position: relative; /* To position the ::after pseudo-element */
}
.custom-class::after {
  content: "";
  width: 0.3125rem; /* w-[5px] is 5px */
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; /* Assuming 'after:top-' means top: 0 */
  border-radius: 0.5rem; /* rounded-l-lg (8px) */
  background-color: #e2e8f0; /* Assuming a color for the indicator, adjust as needed */
  background-color: rgb(255, 0, 0);
}
.custom-class2::after {
      content: "";
  width: 0.3125rem; /* w-[5px] is 5px */
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; /* Assuming 'after:top-' means top: 0 */
  border-radius: 0.5rem; /* rounded-l-lg (8px) */
  background-color: #e2e8f0; /* Assuming a color for the indicator, adjust as needed */
  background-color: rgb(0, 255, 21);
}



.side-sghira{
 display: flex; /* flex */
  align-items: center; /* items-center */
  gap: 0.75rem; /* gap-3 is 12px */
  padding-top: 0.5rem; /* py-2 is 8px */
  padding-bottom: 0.5rem; /* py-2 is 8px */
  padding-left: 1rem; /* px-4 is 16px */
  padding-right: 1rem; /* px-4 is 16px */
}

.custom-size-flex-class {
  height: 2.5rem; /* h-10 is 40px */
  display: flex; /* flex */
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
  border-radius: 9999px; /* rounded-full */
 background-color: #fef2f2;
}
.custom-size-flex-class2 {
  height: 2.5rem; /* h-10 is 40px */
  display: flex; /* flex */
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
  border-radius: 9999px; /* rounded-full */
background-color: #f0fdf4;
}

.lu{
    color: #10b981;
      font-size: 1.25rem; /* 20px */
  line-height: 1.75rem;
}
.lu2{
    color: #b91010;
      font-size: 1.25rem; /* 20px */
  line-height: 1.75rem;
}
.msg-toast{
font-size: 0.875rem; /* 14px */
  line-height: 1.25rem;
  color: #1e293b;
}